{{ template "page" . }}
    {{ define "main" }} 
        {{ template "pro-deputy" . }}

{{/* TODO added to pass pa11y test- will be removed in later ticket */}}
<h1 class="govuk-heading-l">Supervision Professional Deputy Hub</h1>

{{ end }}