{{ template "page" . }}

{{ define "main" }}

<header>
    {{/* TODO added to pass pa11y test- will be removed in later ticket */}}
    <h1 class="govuk-heading-l">Supervision Professional Deputy Hub</h1>
</header>

{{ end }}