$govuk-include-default-font-face: false;
$govuk-moj-table-background-color: #e7f2fb;
$moj-assets-path: "/supervision/deputies/professional/assets/";
$govuk-assets-path: "/supervision/deputies/professional/assets/";

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "./scss/pro-hub";
